html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,i {
    border: 0 none;
    font-family: tahoma,arial,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
	/*font-family: "Microsoft YaHei","宋体",Arial,Helvetica,sans-serif;*/
    font-style: normal;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
   /* vertical-align: baseline;*/
	font-size:12px;
	color:#666;
}
input::-webkit-search-cancel-button{
  display: none;
}
input::-ms-clear{
  display: none;
}
*{ margin:0; padding:0;}
li{list-style-type:none}
.fl{ float:left;}
.fr{ float:right;}
a{text-decoration:none;}
.pr{ position:relative;}
.pab{ position:absolute;}
.fix{ position:fixed;}
.textleft{ text-align:left;}
.textright{ text-align:right;}
.textcenter{ text-align:center;}
.underline{ text-decoration:underline;}
.clear{ clear:both;}
input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #029fdc; outline:none; 
}
input{padding:0; margin:0; /*box-shadow:1px 1px 1px #f9f9f9 inset; */ font-family: tahoma,arial,'Hiragino Sans GB','Microsoft YaHei',sans-serif;  }
input[type=text]{ height:24px; line-height:24px; border:1px solid  #e0e0e0; }
input[type=password]{ height:24px; line-height:24px; border:1px solid  #e0e0e0;}
input.error{ height:24px; line-height:24px; border:1px solid  #ff8200;}
input.error:focus{  border:1px solid  #ff8200;}
textarea.error{ border:1px solid  #ff8200;}
select.error{ border:1px solid  #ff8200;}
textarea{ font-size: 12px; text-align: left;}
input[type=button]{ padding:0; margin:0; box-shadow:none;}
input[type=submit]{ /*padding:0; margin:0; */box-shadow:none;}
.bold{ font-weight:bold;}
.red{ color:#f00;}
.blue{color: #01a2d0;}
table{ border-collapse:collapse; border-spacing:0;}
.block{ display:block;}
.green{ color: #00B83F;}
.inputgra{ color:#a2a2a2;}
.mgleft8{ margin-left:8px;}
.mt10{ margin-top:10px;}
.mgright10{ margin-right: 10px;}
.bordernone{ border:none;}
.black{ color: #000;}
.overhidden{ overflow:hidden;}
.overvisible{ overflow:visible;}

.screen{position: fixed; top: 0; left: 0; width: 100%; bottom: 0; background: #000; opacity: 0.5; 
  filter:alpha(opacity=50);
  moz-opacity:0.5; display: block; z-index: 22;}
/*分页*/
.pagebox{height:50px; background:#f9f9f9; line-height:50px; border: 1px solid #e1e6eb; border-top: none;}
.pagination { font-size: 12px;overflow:hidden;}
.pagination a {text-decoration: none;color: #666; border:1px solid #e0e0e0;}
.pagination a, .pagination span {display: block; float: left;padding: 0 5px;margin-right: 5px;margin-bottom: 5px;height:22px;line-height:22px; font-size:12px; }
.pagination .current { background:#487AC1;color: #fff;border: solid 1px #487AC1;}
.pagination a:hover{background: #487AC1;color: #fff;border: solid 1px #487AC1;}
.pagination .current.prev, .pagination .current.next{color:#666;border-color:#ddd;background:#fff;}
.pagination .current.prev:hover{background: #487AC1;color: #fff;border: solid 1px #487AC1;}
.pagination .current.next:hover{background: #487AC1;color: #fff;border: solid 1px #487AC1;}
.pagebox .pagination{ float:right; margin-top:15px; }
.markbtn{ margin-top: 12px; display: block; border-radius: 3px; height: 28px; text-align: center; line-height: 28px; background: #487AC1; color: #fff; float: left; padding: 0 8px;}
.markbtn:hover{background: #4e71bd;}