body{ background: url(../images/loginbg.jpg)  no-repeat top center; background-size: cover;}
.loginbox{ border-radius: 5px; padding: 20px; background: #fff; width: 400px; margin:80px auto;}
.loginbox h3{ text-align: center; display: block; padding: 15px 0;}
.iteminput{ padding: 15px 0; border-bottom: 1px solid #e0e0e0;}
.iteminput input.loginacount{ border: none ; width: 92%; padding-left: 8%; background: url(../images/ico_acount.jpg) no-repeat left center;}
.iteminput input.loginpwd{ border: none ; width: 92%; padding-left: 8%; background: url(../images/ico_clock.jpg) no-repeat left center;}
.iteminput input.logincode{ border: none ; width: 92%; padding-left: 8%; background: url(../images/ico_code.jpg) no-repeat left center;}
.item .loginbtn{ cursor: pointer; width: 100%; border-radius: 5px; background: #00A0E9; color: #fff; text-align: center; font-size: 14px; border: none; padding: 12px 0;}
.item .loginbtn:hover{ background: #0074C5;}
.item p.red{ display: block; padding:18px 8%;}
.erweima{ display: block; width: 86px; height: 32px; border: 1px solid #f1f1f1; position: absolute; right: 50px; top: 10px;}
.change{ position: absolute; right: 0; color: #666; font-size: 12px; top: 20px;}
.getcode{ position: absolute; top: 10px; border-radius: 3px; right: 0; color: #0090FF; font-size: 12px; display: block; border: 1px solid #0090FF; padding: 8px;}
.getcodegra{ position: absolute; top: 10px; border-radius: 3px; right: 0; color: #666; font-size: 12px; display: block; border: 1px solid #e0e0e0; padding: 8px; background: #f9f9f9;}