<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
http://www.springframework.org/schema/context  
  http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
	default-lazy-init="true">
	<!-- 注解配置 -->
	<context:component-scan base-package="com.ss" >
	</context:component-scan>
	<!-- 配置器 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
			</list>
		</property>
	</bean>
	<!-- 映射器 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		
	</bean>
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 增加注解驱动 -->
	<mvc:annotation-driven/> 
		<!-- 静态资源 -->
	<mvc:resources location="/common/" mapping="/common/**" cache-period="359522"/>
	
	<!-- 启用默认的加载servlet,web.xml中需配置一个默认的servlet -->
	<mvc:default-servlet-handler/>
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截所有 -->
			<mvc:mapping path="/**"/>
			<!-- 不拦截 -->
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/index.jsp"/>
			<mvc:exclude-mapping path="/toLogin/login"/>
			<mvc:exclude-mapping path="/toHelloPage"/>
			<mvc:exclude-mapping path="/common/js/**"/>
			<mvc:exclude-mapping path="/common/image/**"/>
			<bean  class="com.ss.interceptor.LoginInterceptor">
				<property name="exceptUrls">
					<list>
						<value>/toLogin/login</value>
						<value>/user/checkUser</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	


</beans>